<!-- 这里是侧边栏 -->
<link href="{CSS_PATH}sxweb/float-sidebar.css" rel="stylesheet" type="text/css">
<script src="{JS_PATH}sxweb/jquery.toTop.min.js"></script>
<div id="offcn_bott">

    <div class="zgzf_ycxf">
        <ul>
            <li class="zgzf_ycxf1 on">
                <a href="javascript:void(0);" class="zgzf_zx cur">个人<br>中心</a>
            </li>


            <li class="zgzf_ycxf1">
                <a href="javascript:void(0);" class="zgzf_yj cur">意见<br>反馈</a>
            </li>

            <li class="zgzf_ycxf1">
                <a href="javascript:void(0);" class="zgzf_sm cur">扫码<br>关注</a>
                <div class="zgzf_ycxf_ewm">
                    <em>&nbsp;</em>
                    <div class="zgzf_ycxf_ewmn">
                        <img src="{IMG_PATH}sxweb/new_zx_12.jpg" alt="微信咨询">
                    </div>
                </div>
            </li>

            <li class="zgzf_ycxf2 to-top" style="display: list-item;">
                <span>&nbsp;</span>
                <a href="javascript:void(0);">回到<br>顶部</a>
            </li>
        </ul>
    </div>

</div>
<script type="text/javascript" charset="utf-8">
$(function() {
    $('.to-top').toTop();
});
</script>