<!-- footer 一下为公共部分 -->
<link rel="stylesheet" type="text/css" href="{CSS_PATH}sxweb/footer.css">
<div class="footer">
    <div class="inner">
        <div class="nav-footer">
            <dl>
                <dt>楼盘</dt>
                <dd>
                    <a href="http://www.0557.cn/newhouse/1.html">所有楼盘</a>
                    <a href="http://www.0557.cn/shangpu2/shangpuloupan/" target="_blank" title="商铺楼盘">商铺楼盘</a>
                    <a href="http://www.0557.cn/houseonline/">新房团购</a>
                    <a href="http://www.0557.cn/tejiafang/">特价房</a>
                </dd>
            </dl>
            
            <dl class="contact">
                <dt>联系我们</dt>
                <dd>
                    <div class="contact-info">
                        <p><span>QQ在线：</span><a class="l" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2734263045&amp;site=qq&amp;menu=yes"><img src="http://wpa.qq.com/imgd?IDKEY=eb97fb10b696239a64a106b7ddf1fc7e2f54410331c00799&amp;pic=51" alt="点击这里给我发消息" title="点击这里给我发消息"></a></p>
                        <p>互动邮箱： 2734263045@qq.com</p>
                        <p>官方微信：</p>
                        <p>扫描右侧二维码</p>
                        <p>或者搜索微信www0557cn</p>
                    </div>
                    <div class="qrcode">
                        <img src="{IMG_PATH}sxweb/new_zx_12.jpg" height="100" width="100" alt="扫一扫,关注微信">
                        扫一扫，关注微信
                        <br>每日推送房地产行业要闻
                    </div>
                </dd>
            </dl>
        </div>
        <div class="webinfo">
            <a href="http://www.0557.cn/info.php?fid=9" target="_blank">网站地图</a>
            |<a href="http://www.0557.cn/info.php?aid=85" target="_blank" rel="nofollow">联系我们</a>
            |<a href="http://www.0557.cn/info.php?aid=86" target="_blank" rel="nofollow">关于我们</a>
            |<a href="http://www.0557.cn/info.php?aid=587" target="_blank" rel="nofollow">免责声明</a>
            |<a href="http://www.0557.cn/info.php?aid=588" target="_blank" rel="nofollow">服务协议</a>
            |<a href="http://www.0557.cn/info.php?fid=102" target="_blank" rel="nofollow">网站提问</a>
            |<a href="http://www.0557.cn/help/" target="_blank">帮助中心</a>
            |<a href="http://www.0557.cn/info.php?fid=109" target="_blank">手机版</a>
        </div>
        <div class="copyright">
            Copyright © 2010-2015 <a href="http://www.0557.cn/" target="_blank">0557.cn</a> All rights reserved.<br>
            Powered by 同盛网络  皖ICP备
            <a href="http://www.miibeian.gov.cn/" target="_balnk">-B2-20150084-1号</a> . 公安机关备案34130202000254号
       </div>
    </div>
</div>

</body>
</html>