<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta name="keywords" content="{$SEO['keyword']}">
    <meta name="description" content="{$SEO['description']}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1">  

    <link rel="shortcut icon" type="images/x-icon" href="{IMG_PATH}sxweb/logo.ico">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}sxweb/global.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}sxweb/header.css">
	<script type="text/javascript" src="{JS_PATH}sxweb/jquery.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}sxweb/jquery.lazyload.min.js"></script>
	
</head>

<body>