<!-- 顶部导航 -->
<div class="nav">
    <div class="container">
        <div class="fl_left top_n _left">
        <p>Hi，欢迎来到临沂思学网^_^
        </p></div>
        <div class="fl_right">
            <p>
                <script type="text/javascript">document.write('<iframe src="{APP_PATH}index.php?m=member&c=index&a=mini&forward='+encodeURIComponent(location.href)+'&siteid={get_siteid()}" allowTransparency="true"  width="500" height="24" frameborder="0" scrolling="no"></iframe>')</script>
            	<a href="" title="">联系我们</a>
            	<span>|</span>
            	<a href="" title="">网站导航</a>
            </p>
        </div>
    </div>
</div>
<div class="header">
    <div class="container_">
        <div class="fl_left header_left">
            <h1>
                <a href="" target="_blank" title=""></a>
            </h1>
            <div class="header_div fl_left"></div>
            <div class="xsb fl_left">
                <p class="sbgpgs">临沂门户新星</p>
                <p style="width:200px;">临沂教育门户新生网站</p>
            </div>
        </div>
        <div class="fl_left header_center" style="margin-left:-30px">
            <ul>
                <li class="fl_left">
                    <a href="" target="_blank" rel="nofollow">这里是导航</a>
                </li>
            </ul>
        </div>
        
    </div>
</div>