{template 'member', 'header'}

<style type="text/css" media="screen">
	table tr {
		height: 40px;
	}
</style>
<div id="memberArea">
	{template 'member', 'account_manage_left'}
	<div class="col-auto">
		<div class="col-1 ">
			<h5 class="title">修改密码</h5>
			<div class="content">
			<form method="post" action="" id="myform" name="myform">
				<table width="100%" cellspacing="0" class="table_form">

					<input name="hidden" type="hidden" id="hiddeninput" value="0">
					<!-- <tr>
						<th width="80">{L('email')}：</th>        
						<td><input name="info[email]" type="text" id="email" size="30" value="{$memberinfo['email']}" class="input-text"></td>
					</tr> -->
					<tr>
						<th width="80">原密码：</th>        
						<td><input name="info[password]" type="password" id="password" size="30" value="" class="input-text"></td>
					</tr>
					<tr>
						<th>新密码：</th>
						<td><input name="info[newpassword]" type="password" id="newpassword" size="30" value="" class="input-text"></td>
					</tr>
					<tr>
						<th>重复新密码：</th>
						<td><input name="info[renewpassword]" type="password" id="renewpassword" size="30" value="" class="input-text"></td>
					</tr>
					<tr>
						<th></th>
						<td><input name="dosubmit" type="submit" id="dosubmit" value="提交修改" class="button button-submit"></td>
					</tr>
				</table>

				
			</form>
			</div>
			<span class="o1"></span><span class="o2"></span><span class="o3"></span><span class="o4"></span>
		</div>
	</div>
</div>
<div class="clear"></div>
<script type="text/javascript">

$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){},onsuccess:function()
		{	
			$('#hiddeninput').focus();
			//当整个表单验证成功后，使用ajax提交表单
			var posturl = '{APP_PATH}index.php?m=member&c=index&a=account_manage_password';
			$.ajax({
				url : posturl,
				type : 'POST',
				data : {
					password : $('#password').val(),
					newpassword : $('#newpassword').val(),
					dosubmit : 1,
				},
				beforeSend : function (data) {
					$('#dosubmit').val('修改中……').attr('disabled', true);
				},
				success : function (responseText) {
					//返回登录成功
					if (responseText == 'success') {
						//信息框
						layer.msg('密码修改成功');
						setTimeout(function () {
							window.location.reload();
						},1300)
					} else {
						//登录失败
						$('#dosubmit').val('提交修改').removeAttr('disabled');
						layer.msg(responseText, {icon: 5});
					}
				},
				error : function (event, errorText, errorType) {
					layer.msg(errorText, {icon: 5});
				},
			});
			return false;
		} 
	});

	$("#password").formValidator({onshow:"{L('input').L('password')}",onfocus:"{L('password').L('between_6_to_20')}"}).inputValidator({min:6,max:20,onerror:"{L('password').L('between_6_to_20')}"}).ajaxValidator({
	    type : "get",
		url : "",
		data :"m=member&c=index&a=check_password_ajax",
		datatype : "html",
		async:'false',
		success : function(data){	
            if( data == "1" ) {
                return true;
			} else {
                return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "原密码输入不正确",
		onwait : "验证中……"
	});

	$("#newpassword").formValidator({onshow:"{L('input').L('password')}",onfocus:"{L('password').L('between_6_to_20')}"}).inputValidator({min:6,max:20,onerror:"{L('password').L('between_6_to_20')}"}).regexValidator({regexp:"password",datatype:"enum",onerror:"密码只能是数字,字母 和 -_()等字符"});
	$("#renewpassword").formValidator({onshow:"{L('input').L('cofirmpwd')}",onfocus:"{L('input').L('passwords_not_match')}",oncorrect:"{L('passwords_match')}"}).compareValidator({desid:"newpassword",operateor:"=",onerror:"{L('input').L('passwords_not_match')}"});	


	/*$("#email").formValidator({onshow:"{L('input').L('email')}",onfocus:"{L('email').L('format_incorrect')}",oncorrect:"{L('email').L('format_right')}"}).inputValidator({min:2,max:32,onerror:"{L('email').L('between_2_to_32')}"}).regexValidator({regexp:"email",datatype:"enum",onerror:"{L('email').L('format_incorrect')}"}).ajaxValidator({
	    type : "get",
		url : "",
		data :"m=member&c=index&a=public_checkemail_ajax",
		datatype : "html",
		async:'false',
		success : function(data){	
            if( data == "1" ) {
                return true;
			} else {
                return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "{L('deny_register').L('or').L('email_already_exist')}",
		onwait : "{L('connecting_please_wait')}"
	}).defaultPassed();*/
})

</script>
{template 'member', 'footer'}