<style type="text/css">
.footer {font-size: 12px;    padding: 30px 0;    color: #333;    background: #eee;   
	width: 100%;
	clear: both;    margin-top: 35px;
    position: fixed;
    bottom: 0;
}
.footer .inner {    margin: 0 auto;}
.footer .webinfo,.footer .copyright {    text-align: center;}
.footer .webinfo a {    margin: 0 10px;    color: #333;}
.footer .webinfo a:hover {    color: #d30000;}
.footer .copyright a {    color: #333;}
.footer .copyright a:hover {    color: #d30000;}
.footer .consult-qq {    position: absolute;    right: 40px;    top: 2px;}
.footer .consult-qq a {    float: left;    opacity: 0.8;    filter: alpha(opacity=80);}
.footer .consult-qq a:hover {    opacity: 1;    filter: alpha(opacity=100);}
.footer .consult-qq em {float: left;    font-size: 12px;    color: #666;    margin-right: 5px;}
.footer .consult-qq a img {    display: block;}	
</style>
<div class="footer">
    <div class="inner">
        <div class="webinfo">
            <a href="http://www.0557.cn/info.php?fid=9" target="_blank">网站地图</a>
            |<a href="http://www.0557.cn/info.php?aid=85" target="_blank" rel="nofollow">联系我们</a>
            |<a href="http://www.0557.cn/info.php?aid=86" target="_blank" rel="nofollow">关于我们</a>
            |<a href="http://www.0557.cn/info.php?aid=587" target="_blank" rel="nofollow">免责声明</a>
            |<a href="http://www.0557.cn/info.php?aid=588" target="_blank" rel="nofollow">服务协议</a>
            |<a href="http://www.0557.cn/info.php?fid=102" target="_blank" rel="nofollow">网站提问</a>
            |<a href="http://www.0557.cn/help/" target="_blank">帮助中心</a>
            |<a href="http://www.0557.cn/info.php?fid=109" target="_blank">手机版</a>
        </div>
        <div class="copyright">
            Copyright © 2010-2015 <a href="http://www.0557.cn/" target="_blank">0557.cn</a> All rights reserved.<br>
            Powered by 同盛网络  皖ICP备
            <a href="http://www.miibeian.gov.cn/" target="_balnk">-B2-20150084-1号</a> . 公安机关备案34130202000254号
       </div>
    </div>
</div>
</body>
</html>