{template "content","header"}
{template "content","index_nav"}

<link rel="stylesheet" type="text/css" href="{CSS_PATH}sxweb/whole.css">
<link rel="stylesheet" type="text/css" href="{CSS_PATH}sxweb/group.css">
<script type="text/javascript" src="{JS_PATH}layer.js"></script>

<div class="wrap" style="padding-top: 15px;">

    <div class="bread clearfix">
        <div class="r">
            <form name="searchform" method="post" action="index.php?m=group&c=index&a=init">
                <div class="search-group form w300">
                    <button type="submit" class="btn"><i class="ico08 mr5"></i>搜索</button>
                    <div class="txt-wrap">
                        <input type="text" class="txt" value="{$_POST['searchword']}" placeholder="请输入标题关键字" name="searchword" id="searchword" x-webkit-speech="" speech="">
                    </div>
                </div>
            </form>
        </div>
        <span class="l mt5">
            <a href="{APP_PATH}" target="_blank">
            	<i class="ico08 ico mr5">&#61461;</i>首页</a>
            	<i class="pipe">/</i><a href="javascript:;">团购优惠</a>
            	(共有<span><b class="fcr">{$count}</b></span>个团购)
        </span>
    </div>

    <div class="blank10"></div>
      

    <div class="tg-ydlc clearfix">
        <ul>
        	<li class="firstF">预订流程</li>
        	<li class="act">选择团购</li>
	        <li>在线咨询</li>
	        <li>报名预约</li>
	        <li>预订完成</li>
	        <li>客服回访</li>
	        <li>团购成功</li>
        </ul>
    </div>

    <div class="blank10"></div>
    
    {loop $group_list $data}
    <div class="tg-list clearfix">
        
        <div class="linfo">
            <h2><a href="index.php?m=group&a=index&c=details&group_id={$data['id']}" target="_blank" title="{$data['title']}">{$data['title']}</a></h2>

            <a href="index.php?m=group&a=index&c=details&group_id={$data['id']}" target="_blank" title="{$data['title']}">
            	<img alt="" src="{$data['image']}" width="820" height="320">
            </a>
        </div>

        <div class="rinfo w300">
        	<h1><a href="index.php?m=group&a=index&c=details&group_id={$data['id']}" target="_blank" title="{$data['title']}">{$offices[$data['office_id']]}</a></h1>
            <h3> {$data['desc']} </h3>
            <div class="ptb10 clearfix">
                <div class="biaod">
                    <div class="r info">已报名<em>{$data['sign_num']}</em>人<br>
                        {if $data['max_num']>0}
                            名额限前<em>{$data['max_num']}</em>人
                        {/if}
                    </div>
                    <a class="signup btn-tg btn-tg-155045" data-groupid="{$data['id']}" href="javascript:;">立即报名</a>
                </div>
            </div>

            <div class="jg ptb5 clearfix">
                <ul>
                    <li>
                        <i class="ico1"></i>
                        <span><em class="f90">{if $data['low_price']>0}{$data['low_price']}{else}待定{/if}</em></span><span>团购价</span>
                    </li>
                    <li>
                        <i class="ico1"></i>
                        <span><b>{if $data['market_price']>0}{$data['market_price']}{else}待定{/if}</b></span><span>市场价</span>
                    </li>
                    <li>
                        <i class="ico2"></i>
                        <span><b>{$data['popular']}</b></span><span>人气</span>
                    </li>
                </ul>
            </div>

            <div class="topbk">
                <div class="end-date clearfix" data-endtime="{$data['end_time']}" data-endele=".btn-tg-155045" data-noend="&lt;span class=&#39;fcr&#39;&gt;永久有效!&lt;/span&gt;" data-end="&lt;span class=&#39;fcr&#39;&gt;活动已经结束!&lt;/span&gt;">
                    <span>剩余时间：</span>
                    <span class="pri-txt">
                        <span class="day"><d>0</d></span>天
                        <span class="hour"><h>0</h></span>小时
                        <span class="minutes"><m>0</m></span>分
                        <span class="second"><s>0</s></span>秒
                    </span>
                </div>
                <div class="ptb5">上课地址：{if !empty($data['address'])}{$data['address']}{else}待定{/if}</div>
            </div>
            <div class="tel"><i></i>{$data['phone']}</div>
        </div>
    </div>
    {/loop}


       
    <div id="pages" class="text-c">
        {$pages}
    </div>
</div>

<style type="text/css" media="screen">
    #bmform {
        width: 300px;
        padding-left: 65px;
        padding-top: 20px;
    }
    .form-control .txt {
        display: inline;
        width: 240px;
    }
    .btn-submit {
        font-family: Microsoft yahei;
        font-size: 18px;
        line-height: 35px;
        display: block;
        overflow: hidden;
        width: 120px;
        height: 35px;
        text-align: center;
        text-transform: none;
        color: #fff;
        border: none;
        border-radius: 3px;
        background-color: #ff5e00;
        cursor: pointer;
        margin-left: 55px;
    }
    ul.form-control li {
        margin-top: 5px;
    }
</style>

<div id="get_verify" style="display: none;">
    {form::checkcode('code_img', '4', '14', 138, 30)}
</div>
<span id="chooseid" style="display: none;"></span>

<script type="text/javascript">
	

var serverTime = {SYS_TIME};
updateEndTime();
function updateEndTime() {

    $("[data-endTime]").each(function(i) {
        var $this = $(this),
            _tpl;

        if (!$this.data('template')) {
            _tpl = this.innerHTML;
            $this.data('template', _tpl);
        } else {
            _tpl = $this.data('template');
        }

        var endtime = $this.data('endtime'); //结束时间字符串
        var lag = endtime - serverTime; //当前时间和结束时间之间的秒数

        

        if (endtime != 0) {
            if (lag > 0) {

				var second = Math.floor(lag % 60),
				minutes    = Math.floor((lag / 60) % 60),
				hour       = Math.floor((lag / 3600) % 24),
				day        = Math.floor((lag / 3600) / 24);

                $this.html(_tpl.replace('<d>0</d>', day).replace('<h>0</h>', hour).replace('<m>0</m>', minutes).replace('<s>0</s>', second));
            } else {
                $($this.data('endele')).addClass('is-end');
                $this.html($this.data('end')).removeAttr('data-endTime');
            }
        } else $this.html($this.data('noend')).removeAttr('data-endTime');;
    });
    serverTime++;
    setTimeout("updateEndTime()", 1000);
}





$('.signup').click(function(event) {
    //判断是否登录
    var posturl = '{APP_PATH}index.php?m=group&c=index&a=ajax_check_login';
    var __this = this;
    $.ajax({
        url : posturl,
        type : 'POST',
        data : {},
        success : function (responseText) {
            //返回登录成功
            //console.log(responseText);
            if (responseText == 'success') {
                //信息框
                var _thisId = $(__this).attr('data-groupid');
                $('#chooseid').html(_thisId);
                var getverify = $('#get_verify').html();
                var html =  '<div id="sign" class="r-info w300">'
                            +'<form id="bmform" class="jqValidate" data-tipmode="#tg-tip" novalidate="novalidate">'
                            +    '<ul class="form form-control">'
                            +        '<li>姓　名：<input type="text" class="txt" id="truename" name="truename" placeholder="您的姓名"></li>'
                            +        '<li>电　话：<input type="text" class="txt" id="mobile" name="mobile" maxlength="11" placeholder="您的电话"></li>'
                            +        '<li class="reg-wrap" data-regcode="commu8" style="display: list-item;">验证码：<input type="text" name="verify" id="verify" class="txt" style="width: 120px;" placeholder="请输入验证码" maxlength="4">'
                            +   getverify
                            +        '</li>'
                            +        '<li><input type="button" id="sure_sign" class="btn-submit" value="立即报名"></li>'
                            +    '</ul>'
                            +'</form>'
                            +'</div>';
                layer.open({
                  type: 1,
                  title:'报名预约',
                  skin: 'layui-layer-rim', //加上边框
                  area: ['520px', '340px'], //宽高
                  content: html,
                });
            } else {
                //登录失败
                layer.msg('请先登录', {icon: 5});
                setTimeout(function () {
                    window.location.href = '/index.php?m=member&c=index&a=login';
                },1500);
                return false;
            }
        },
        error : function (event, errorText, errorType) {
            layer.msg(errorText, {icon: 5});
            return false;
        },
    });   
});




$(document).on('click', '#sure_sign', function(event) {
    event.preventDefault();
    
    var truename = $('#truename').val();
    if (truename=='') {
        layer.msg('请填写您的姓名', {icon: 5});return false;
    }
    var mobile = $("#mobile").val();
    if (mobile=='') {
        layer.msg('请填写手机号', {icon: 5});return false;
    }
    var verify = $('#verify').val();
    if (verify=='') {
        layer.msg('请填写验证码', {icon: 5});return false;
    }
    var group_id = $('#chooseid').html();

    var _this = this;
    //ajax提交报名
    var posturl = '{APP_PATH}index.php?m=group&c=index&a=signup';
    $.ajax({
        url : posturl,
        type : 'POST',
        data : {
            group_id : group_id,
            truename : truename,
            mobile : mobile,
            verify : verify
        },
        beforeSend : function (data) {
            $(_this).val('提交中……').css({'background':'#ccc'}).attr('disabled', true);
        },
        success : function (responseText) {
            //返回登录成功
            if (responseText == 'success') {
                //信息框
                layer.msg('预约成功，请等待客服回访确认');
                setTimeout(function () {
                    forward = '{APP_PATH}index.php?m=member&c=group&a=show';
                    window.location.href = forward;
                },1500)
            } else {
                //登录失败
                $(_this).val('立即报名').removeAttr('disabled').css({'background':'#ff5e00'});
                layer.msg(responseText, {icon: 5});
            }
        },
        error : function (event, errorText, errorType) {
            layer.msg(errorText, {icon: 5});
        },
    });
    return false;

});


</script>


{template "content","footer"}
{template "content","float_sidebar"}